[submodule "external/haskell-setup"]
	path = external/haskell-setup
	url = git@github.com:haskell-actions/setup.git
[submodule "external/llvm-hs-pretty"]
	path = external/llvm-hs-pretty
	url = git@github.com:Jabolol/llvm-hs-pretty.git
[submodule "external/actions-gh-pages"]
	path = external/actions-gh-pages
	url = git@github.com:peaceiris/actions-gh-pages.git
[submodule "external/setup-deno"]
	path = external/setup-deno
	url = git@github.com:denoland/setup-deno.git
[submodule "external/setup-chrome"]
	path = external/setup-chrome
	url = git@github.com:browser-actions/setup-chrome.git
	branch = latest
